.stack__disk{
  cursor: pointer;
  position: relative;
  width: 200px;
  height:auto;
  transition: all 300ms ease;
}


.stack__disk-svg{
  height:100px;
  width:200px;
  animation-name: unstack;
  animation-duration: .5s;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size:2rem;
  overflow: visible;
}
.stack a:hover, 
.stack a:focus {
  stroke: var(--clr-accent);
  transform: translate(-4px, 2px);
  --clr-disk:var(--clr-accent);
  outline: none;
  color: var(--clr-accent2);
}
.stack__disk-textpath
{
  fill: var(--clr-text);
}

.stack__disk--active,
.stack__disk--active:hover,
.stack__disk--active:focus{
  transform: translate(-20px, 10px);
  outline: hidden;
  stroke:var(--clr-accent);
}
.stack__disk--active:active, 
.stack__disk:active {
  outline: hidden;
}
@keyframes unstack { 
  0% {height:75px;}
  33% {height:105px;}
  66% {height:98px;}
  100% {height:100px;}
}
