.stack__disk{
  cursor: pointer;
  color: var(--clr-text);
}
.stack__disk:hover{
text-shadow: rgb(255, 255, 255) 1px 0 10px;
}
.stack__disk--active{
text-shadow: rgb(255, 255, 255) 1px 0 5px;
}
svg{
  height: 200;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size:2rem;
}