.description {
  z-index: 5;
  grid-area: desc;
  padding: 1rem;
  background-color: var(--clr-bg);
  border:solid 2px var(--clr-border);
  overflow: hidden;
  resize: horizontal;
  margin: 0 0 0 auto;
  line-break: loose;
  word-wrap: break-word;
  width:100%;
}