.description {
  z-index: 5;
  grid-area: desc;
  padding: 1rem;
  background-color: var(--clr-bg);
  border:solid 2px var(--clr-border);
  overflow: hidden;
  resize: horizontal;
  margin: 0 0 0 auto;
  line-break: loose;
  line-height: 1.25;
  width:100%;
}
.description  li{
  list-style-type: inherit;
}

.description img {
  width: 100%;
}
