
.App {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  margin: 5vw auto;
  width: 90vw;
  max-width: 1400px;
  display: grid;
  gap: 2rem;
  grid-template: 
    "head desc stack" auto
    "foot foot foot" auto 
    /1fr 2fr auto;
}
@media(max-width:1200px){
   .App {
    margin:2vw;
    width: 96vw;
    grid-template: 
    "head head" auto
    "desc stack" auto
    "foot foot" auto 
    /auto auto;
  }
}

@media(max-width:720px){
  .App {
    margin:0;
    width: 100vw;
    grid-template: 
    "head" auto
    "stack" auto
    "desc" auto
    "foot" auto 
    /auto;
  }
}


