.App {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  margin: 2vw auto;
  width: 96vw;
  max-width: 960px;
  display: grid;
  gap: 2rem;
  overflow: hidden;
  grid-template: 
  "head" auto
  "view" auto
  "foot" auto 
  /auto;
}



