.header {
  grid-area: head;
  display: grid;
  grid-template: 
  "imag card" auto
  "imag navi" auto 
  /1fr 4fr;
}
.header__card {
  grid-area: card;
  z-index: 1;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  width: max-content;
  height: max-content;
  text-decoration: none;
  margin: 0 0 0 auto;
  overflow: visible;
}

.header__img {
  border-radius:50%;
  width:100%;
  transform: translate(-15%, -7.5%);
}

.header__img-link {
  height: min-content;
  grid-area: imag;
}

.header__title {
  font-size: 10vw;
  font-weight: 200;
  line-break: strict;
  margin:0;
  line-height: 0.7;
}


.header__subtitle {
  color: var(--clr-border);
  line-break: strict;
  font-size:6vw;
  font-weight: 100;
  display: inline;
  margin: 0;
}
.header__card:focus,
.header__card:hover{
  color: var(--clr-text);
}

@media(min-width:980px){
  .header__title{
    font-size: 98px;
  }
  .header__subtitle{
    font-size: 58px;
  }
}