@import "https://pagecdn.io/lib/normalize/8.0.1/normalize.min.css";
:root{
 --clr-bg: #333333;
 --clr-border: #777777;
 --clr-disk: #777777;
 --clr-bright: #ffffff;
 --clr-text: #ffffff;
 --clr-accent: #ff8800;
 --clr-accent2: #ffee00;
 background-color: var(--clr-bg);
}

* {box-sizing: border-box};
#root{
  margin: 15px;
}

a {
  color:var(--clr-accent)
}
a:hover,
a:focus {
  color:var(--clr-accent2)
}