.header__nav{
  grid-area: navi;
  z-index: 5;
  margin: 0 auto;

}
.header__nav-list{
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
}
.header__nav-link{
  /* font-style: italic; */
  padding: 1rem 1vw;
  font-size: 1rem;
  color: var(--clr-accent);
  text-decoration: underline dotted;
}
.header__nav-link:hover,
.header__nav-link:focus{
  color: var(--clr-accent2);
}

.header__nav-link--active{
  /* font-style: normal; */
  color: var(--clr-accent2);
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: underline double;
}