.header__nav{
  grid-area: navi;
  z-index: 5;
  margin: 0 auto;

}
.header__nav-list{
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
}
.header__nav-link{
  font-style: italic;
  padding: 0.5rem .25rem;
  font-size: 1rem;
  color: var(--clr-accent);
  text-transform: lowercase;
  text-decoration: underline dotted;
}
.header__nav-link--active{
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline double;
}